---
layout: default
title: Kan Yilmaz - Blog
---
<h1>Blog Posts</h1>

  <div id="medium-widget"></div>
<script src="https://medium-widget.pixelpoint.io/widget.js"></script>
<script>MediumWidget.Init({renderTo: '#medium-widget', params: {"resource":"https://medium.com/@thellimist/how-to-make-decisions-work-b40fe9e97a72","postsPerLine":2,"limit":10,"picture":"big","fields":["description","author","claps","publishAt"],"ratio":"landscape"}})</script>

<ul class="post-list">
  {% for post in site.posts %}
    <li class="post-row">
      {% if post.proxyurl %}
        <a class="post-title" href="{{ post.proxyurl }}" target="_blank">{{ post.title }}</a>
      {% else %}
        <a class="post-title" href="{{ post.url }}" target="_blank">{{ post.title }}</a>
      {% endif %}
      <span class="post-date">{{ post.date | date: "%d/%m/%Y" }}</span>
    </li>
  {% endfor %}
</ul>
