<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon.ico">

    <link rel="stylesheet" href="{{ site.url }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Kan Yilmaz</h1>

        <ul class="social">
          <li><a href="mailto:kan.yilmaz.me@gmail.com" class="fa-solid fa-envelope" target="_blank"></a></li>
          <li><a href="https://twitter.com/thellimist" class="fa-brands fa-x-twitter" target="_blank"></a></li>
          <li><a href="https://linkedin.com/in/thellimist" class="fa-brands fa-linkedin" target="_blank"></a></li>
          <li><a href="https://github.com/thellimist" class="fa-brands fa-github" target="_blank"></a></li>
          <li><a href="https://stackoverflow.com/users/4335588" class="fa-brands fa-stack-overflow" target="_blank"></a></li>
          <li><a href="/assets/resume.pdf" class="fa-solid fa-file-lines" target="_blank"></a></li>
        </ul>

        <p></p>
        <p class="navigation">
          <a href="/" {% if page.url == '/' %}class="active"{% endif %}>Home</a><br>
          <a href="/about/" {% if page.url == '/about/' %}class="active"{% endif %}>About</a><br>
          <a href="/blog/" {% if page.url == '/blog/' %}class="active"{% endif %}>Blog</a><br>
        </p>
      </header>
      <section>
     {{ content | markdownify }}
      </section>
    </div>
    <script src="/javascripts/scale.fix.js"></script>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("G-92V8ZN63H4");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>

  </body>
</html>