<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon.ico">

    <link rel="stylesheet" href="{{ site.url }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Kan Yilmaz</h1>

        <ul class="social">
          <li><a href="mailto:mufuyil@gmail.com" class="fa fa-envelope"></a><br></li>
          <li><a href="https://github.com/thellimist" class="fa fa-github-square"></a><br></li>
          <li><a href="https://stackoverflow.com/users/4335588" class="fa fa-stack-overflow"></a><br></li>
          <li><a href="https://facebook.com/thellimist" class="fa fa-facebook-square"></a><br></li>
          <li><a href="https://linkedin.com/in/thellimist" class="fa fa-linkedin-square"></a><br></li>
          <li><a href="https://twitter.com/thellimist" class="fa fa-twitter"></a><br></li>
        </ul>

        <p></p>
        <p class="navigation">
          <a href="/">Home</a><br>
          <a href="/about/">About</a><br>
          <a href="/assets/resume.pdf" target="_blank">Resume</a><br>
          <a href="/blog/">Blog</a><br>
        </p>
      </header>
      <section>
     {{ content | markdownify }}
      </section>
    </div>
    <script src="/javascripts/scale.fix.js"></script>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("G-92V8ZN63H4");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>

    <!-- Calendly badge widget begin -->
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
    <script type="text/javascript">Calendly.initBadgeWidget({ url: 'https://calendly.com/kanyilmaz/30min', text: 'Schedule time with me', color: '#00a2ff', textColor: '#ffffff', branding: true });</script>
    <!-- Calendly badge widget end -->

  </body>
</html>